.blog {
   padding: 80px 0;

   &__articles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
   }

   &__article {
      flex: 0 1 calc(33.33% - 17px);
   }

   &__img {
      position: relative;
      img {
         width: 100%;
      }
      &:hover {
         .blog__hover {
            opacity: 1;
            visibility: visible;
         }
      }
   }

   &__hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      background-color: rgba($color: #000000, $alpha: .8);
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out;
   }

   &__hover-icons {
      background-color: #f6e5e0;
      border-radius: 50%;
      padding: 10px;
      border: none;
      svg {
         width: 30px;
         height: 30px;
         fill: $acent;
         transition: fill .3s ease-in-out;
      }
      &:hover {
         background-color: $acent;
         & svg {
            fill: #f6e5e0;
         }
      }
   }

   &__info {
      background-color: #ebebeb;
      padding: 35px 20px 25px 25px;
   }

   &__title {
      font-family: $primary;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 300;
      letter-spacing: 0.1em;
      color: #505050;
      margin: 0 0 30px;
      a {
         text-decoration: none;
         color: inherit;
      }
   }

   &__text {
      font-family: $primary;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 100;
      letter-spacing: 0.05em;
      color: $main;
      margin: 0 0 30px;
   }

   &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__date {
      padding-left: 25px;
      background: url(./../src/img/clock-regular.svg) center left no-repeat;
   }

   &__stat {
      display: flex;
   }

   &__stat-item {
      padding-left: 25px;
      &:not(:last-child) {
         margin-right: 10px;
      }
      &--like {
         background: url(./../src/img/thumbs-up-solid.svg) center left no-repeat;
      }
      &--comment {
         background: url(./../src/img/comment-regular.svg) center left no-repeat;
      }
   }
}