@import "_fonts";
@import "_vars";
@import "_base";
@import "_header";
@import "_swiper";
@import "_hero";
@import "_section";
@import "_about";
@import "_video";
@import "_works";
@import "_partners";
@import "_team";
@import "_features";
@import "_blog";
@import "_plans";

.contacts {
   padding: 80px 0;

   &__header {
      margin-bottom: 100px;
   }

   &__header-title {
   }

   &__header-text {
   }

   &__form {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
   }

   &__item {
      flex: 1 1 calc(50% - 30px);
      margin-bottom: 30px;
   }

   &__label {
      display: block;
      font-family: $primary;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #696969;
      margin-bottom: 40px;
      span {
         color: $acent;
      }
   }

   &__input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #cacaca;
   }

   &__massage {
      width: 100%;
      max-width: 100%;
   }
}




